In [8]:
%reload_ext bigquery_magics

In [9]:
key = "bar"
params = {"key": 'foo', 'value': 42}

In [12]:
%%bigquery --params $params
SELECT @value as value, @key as key

Query is running:   0%|          |

Downloading:   0%|          |

   value  key
0     42  foo