In [1]:
%reload_ext bigquery_magics

In [2]:
msg = "Hello, World!"
print(msg)

Hello, World!

In [3]:
from google.cloud import bigquery

In [4]:
%%bigquery
SELECT 1 as foo

Query is running:   0%|          |

Downloading:   0%|          |

   foo
0    1